@backgroundColor: #1b1c1d;
@hoverColor: #59a1ff;
@activeColor: #3183ff;
button {
  border: none;
  background-color: @activeColor;
}

.container {
  min-height: 100vh;
  background-color: @backgroundColor;
  font-family: Helvetica-Regular, Helvetica;

  header {
    height: 56px;
    color: white;
    display: flex;

    .menu {
      display: flex;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 0 16px;
        line-height: 56px;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
          background-color: @hoverColor;
        }
      }
    }

    .mintWrap {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0 16px;

      .userGroup {
        flex: 1;
        text-align: center;
        button {
          margin: 10px;
          cursor: pointer;
          background-color: white;
          color: black;
        }

        .active {
          background-color: #3183ff;
          color: white;
        }
      }

      .mint {
        padding: 8px 16px;
        border-radius: 8px;
      }
    }
  }

  .projectName {
    height: 30px;
    background-color: #323436;
    text-align: center;
    line-height: 30px;
    color: white;
  }

  main {
    display: flex;
  }
}
