.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  height: calc(100vh - 86px);
  background-color: #1b1c1d;
  z-index: 8;

  .header {
    height: 56px;
    background-color: #1b1c1d;
    display: flex;
    align-items: center;

    button {
      background-color: transparent;
      color: white;
      font-weight: bold;
      line-height: 56px;
      padding: 0 20px;
    }

    .closeBtn {
      padding: 0;
      flex: 1;
    }

    .active {
      color: #3183ff;
    }
  }

  .uploadWrap {
    width: 238px;
    height: 112px;
    flex-direction: column;
    background-color: #323436;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    margin: 5px auto;
  }

  .uploadBtn {
    display: none;
  }

  .historyWrap {
    height: calc(100vh - 264px);
    overflow-y: auto;
    .historyTitle {
      height: 48px;
      line-height: 48px;
      color: white;
      padding: 16px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      .historyItem {
        padding: 16px;
        color: white;
        box-shadow: inset 0px -1px 0px 1px rgba(255, 255, 255, 0.1);
        cursor: pointer;

        > div:first-child {
          font-size: 16px;
          font-family: Helvetica-Bold, Helvetica;
          font-weight: bold;
          margin-bottom: 12px;
        }
      }
    }
  }

  .cloudWrap {
    height: calc(100vh - 142px);
    overflow-y: auto;

    .searchWrap {
      padding: 0 16px;
      position: relative;
      margin: 16px 0;

      input {
        height: 40px;
        width: 100%;
        background-color: #323436;
        outline: none;
        border-radius: 8px;
        border: none;
        color: #707172;
        font-size: 16px;
        padding: 0 30px;
      }

      img {
        width: 22px;
        height: 22px;
        position: absolute;
        top: 8px;
        left: 22px;
      }
    }

    .resultWrap {
      padding: 16px;

      .title {
        height: 40px;
        font-size: 14px;
        font-family: Helvetica-Regular, Helvetica;
        font-weight: 400;
        color: #ffffff;
        line-height: 40px;
      }

      .resultList {
        margin: 0;
        padding: 0;

        li {
          height: 60px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: rgba(255, 255, 255, 0.65);
          font-size: 16px;
          cursor: pointer;
        }
      }
    }
  }
}
